<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}Music Library{% endblock %}
    </title>

    <!-- Prevent theme flash -->
    <!-- load theme with localStorage if there's non load white-gold-->
    <!-- put theme in <html> data-theme and let css change it.-->
    <script>
        const savedTheme = localStorage.getItem("app_theme") || "white-gold";
        document.documentElement.dataset.theme = savedTheme;
    </script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>


<body>
    {% include "navbar.html" %}

    <main class="site-main">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages" aria-live="polite">
                    {% for category, message in messages %}
                        <p class="flash-message flash-{{ category }}">
                            {{ message }}
                        </p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>


    <footer class="site-footer">
        <p>Developed by: Nuo, Meti, Steven, Yufan</p>
    </footer>


    <script
        src="{{ url_for('static', filename='js/theme.js') }}"
    ></script>

</body>

</html>
